.form {
  margin-block-start: 0.75rem;
}

.form input {
  background-color: rgb(50, 50, 50);
  border: 1px solid currentColor;
  color: currentColor;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.25rem;
}

.form input:focus-within:invalid {
  outline: 1px solid red;
}
.form input:focus-within:valid {
  outline: 1px solid lime;
}

.formInput {
  margin-block-start: 0.5rem;
  display: flex;
  justify-content: right;
  margin-inline: auto;
  gap: 0.5rem;
  max-width: 250px;
  align-items: center;
}

.form button {
  padding: 0.15rem 0.75rem 0.4rem;
  border-radius: 5px;
  margin-block-start: 0.5rem;
  background-color: rgb(25, 25, 25);
  border: 1px solid rgb(216, 99, 255);
  color: currentColor;
  cursor: pointer;
}
